//Адаптивное свойтсво

$maxWidth: 1920;
$maxWidthContainer: 1200;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
   $addSize: $startSize - $minSize;
   @if $type==1 {
      //Если меньше контейнера
      #{$property}: $startSize + px;
      @media (max-width: #{$maxWidthContainer + px}){
         #{$property}:calc(#{$minSize + px} + #{$addSize} * ((100vw - 992px) / #{$maxWidthContainer - 992}));
      }
   }@else if $type==2 {
      //Если больше контейнера
      #{$property}: $startSize + px;
      @media (min-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 992px) / #{$maxWidth - 992}));
      }
   } @else {
      // всегда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 992px) / #{$maxWidth - 992}));
   }
}

// Вызов миксина: @include adaptive-value("padding", 50, 20, 0);